.principalImage {
    max-width: 90%;
    border-radius: 20px;
}

.secondaryContainer {
    display: flex;
    max-width: 90%;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.img {
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.img:hover{
    transition: 0.5s;
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    .secondaryContainer{
        padding: 1rem 0;
        margin: 0 auto;
    }
}