nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid var(--grayishblue);
}

.firstContainer{
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

li {
    color: var(--darkblue);
}

.rightContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.avatar {
    width: 40px;
    margin-left: 1rem;
}

.notifications {
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--orange);
    border-radius: 100%;
    font-size: 0.7rem;
    font-weight:bold;
    text-align: center;
    color: white;
    margin: 10px 10px 0 0;
    opacity: 0.9;
}

.cart {
    cursor: pointer;
}

.mobile{
    display: none;
}

.mobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileContainer div {
    display: flex;
    align-items: center;
}

.mobileMenu {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    nav{
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .desktop{
        display: none;
    }
    .mobile {
        display: block;
    }
}